@use "../../styles/mixins" as *;

$td-border: 1px solid black;
$td-padding: 0;

#CrosswordField {
  /* No growth, no shrinking, take up 60% of space */
  flex: 0 0 60%;
  @include flex-center-elements;

  table {
    border-collapse: collapse;
  }

  td {
    border: $td-border;
    padding: $td-padding;
  }

  .emptyCell {
    visibility: hidden;
    border: none;
  }
}
