#EndgameModal {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  border: 5px solid black;
  z-index: 100; /* So that it's shown over everything else */
  position: fixed; /* Keeps the modal fixed relative to the viewport */
  top: 50%; /* Put the top of the modal in the middle of the page vertically */
  left: 50%; /* Put the left side of the modal in the middle of the page horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Shifts the modal down and right by half of its height and width so it's centred */
}

#modalUpperRow {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  padding: 5px;
}

#closeEndgameModalButton {
  width: 20px;
  height: 20px;
}

#modalResultsRow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#modalBottomRow {
  height: 40px;
}

p {
  margin: 10px auto;
}

h1 {
  margin: 15px auto;
}

@media (max-width: 500px) {
  #EndgameModal {
    width: 290px;
    height: 290px;
  }

  #modalResultsRow {
    padding: 10px;
  }
}
