@use "../../styles/mixins" as *;

$modal-size: 400px;
$modal-decreased-size: 290px;
$modal-border: 5px solid black;

$modalUpperRow-padding: 5px;
$closeEndgameModalButton-size: 20px;

$modalResultsRow-padding: 20px;
$modalResultsRow-decreased-padding: 10px;

$modalBottomRow-height: 40px;

$p-margin: 10px auto;
$h1-margin: 15px auto;

#EndgameModal {
  width: $modal-size;
  height: $modal-size;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  border: $modal-border;

  @include modal;

  @media (max-width: 500px) {
    width: $modal-decreased-size;
    height: $modal-decreased-size;
  }

  #modalUpperRow {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding: $modalUpperRow-padding;
  }

  #closeEndgameModalButton {
    width: $closeEndgameModalButton-size;
    height: $closeEndgameModalButton-size;
  }

  #modalResultsRow {
    @include flex-center-elements;

    padding: $modalResultsRow-padding;

    @media (max-width: 500px) {
      padding: $modalResultsRow-decreased-padding;
    }

    p {
      margin: $p-margin;
    }

    h1 {
      margin: $h1-margin;
    }
  }

  #modalBottomRow {
    height: $modalBottomRow-height;
  }
}
