@use "../../styles/mixins" as *;

$stop-indicator-size: 10px;

$clock-height: 25px;
$clock-margin: auto 5px;

#Timer {
  flex: 1;

  @include flex-center-elements;

  #stopIndicator {
    height: $stop-indicator-size;
    width: $stop-indicator-size;
  }

  #clock {
    height: $clock-height;
    margin: $clock-margin;
  }
}
