#root {
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;

  display: flex;
  flex-direction: column;

  /* disallow selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

#crosswordWrapprer {
  flex: 1;
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
    #crosswordWrapprer {
      flex-direction: column; /* Stack components vertically */
    }
}