@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

$CrosswordCell-max-size: 50px;
$CrosswordCell-size: 4.5vw;
$CrosswordCell-size-medium: $CrosswordCell-max-size * 0.7;
$CrosswordCell-size-small: $CrosswordCell-max-size * 0.56;
$CrosswordCell-size-smallest: $CrosswordCell-max-size * 0.42;
$CrosswordCell-background-color: white;
$CrosswordCell-font-size: 10px;
$CrosswordCell-font-size-medium: $CrosswordCell-font-size * 0.7;
$CrosswordCell-font-size-small: $CrosswordCell-font-size * 0.6;
$CrosswordCell-font-size-smallest: $CrosswordCell-font-size * 0.5;

$UpperRow-font-size: 80%;
$UpperRow-height: 20%;

$numberContainer-height: 100%;
$numberContainer-width: 20%;

$rightArrowContainer-height: $numberContainer-height;
$rightArrowContainer-width: calc(100% - #{$numberContainer-width});

$BottomRow-height: 80%;

$downArrowContainer-font-size: 80%;
$downArrowContainer-height: 100%;
$downArrowContainer-width: 20%;

$letterContainer-font-size: 200%;
$letterContainer-size: 60%; // This is how it should be, tested on mobile devices
$letterContainer-font-size-small: 150%;
$letterContainer-size-medium: 40%;
$letterContainer-size-small: 35%;

.CrosswordCell {
  width: $CrosswordCell-size;
  height: $CrosswordCell-size;
  background-color: $CrosswordCell-background-color;
  font-size: $CrosswordCell-font-size;

  @media (min-width: 1100px) {
    width: $CrosswordCell-max-size;
    height: $CrosswordCell-max-size;
  }

  @media (max-width: 800px) {
    width: $CrosswordCell-size-medium;
    height: $CrosswordCell-size-medium;
    font-size: $CrosswordCell-font-size-medium;
  }

  @media (max-width: 500px) {
    width: $CrosswordCell-size-small;
    height: $CrosswordCell-size-small;
    font-size: $CrosswordCell-font-size-small;
  }

  @media (max-width: 400px) {
    width: $CrosswordCell-size-smallest;
    height: $CrosswordCell-size-smallest;
    font-size: $CrosswordCell-font-size-smallest;
  }

  .upperRow {
    font-size: $UpperRow-font-size;
    height: $UpperRow-height;
    display: flex;
    align-items: center;

    .numberContainter {
      height: $numberContainer-height;
      width: $numberContainer-width;
      display: flex;
      justify-content: center;
    }

    .rightArrowContainer {
      height: $rightArrowContainer-height;
      width: $rightArrowContainer-width;
      display: flex;
      justify-content: center;
    }
  }

  .bottomRow {
    display: flex;
    align-items: center;
    height: $BottomRow-height;

    .downArrowContainer {
      font-size: $downArrowContainer-font-size;
      height: $downArrowContainer-height;
      width: $downArrowContainer-width;

      @include flex-center-elements;
    }

    .wrongLetter {
      color: red;
    }

    .correctLetter {
      color: green;
    }

    .letterContainer {
      font-size: $letterContainer-font-size;
      height: $letterContainer-size;
      width: $letterContainer-size;
      border: none;
      text-align: center;

      @media (max-width: 800px) {
        font-size: $letterContainer-font-size-small;
        width: $letterContainer-size-medium;
      }

      @media (max-width: 500px) {
        width: $letterContainer-size-small;
      }

      &:disabled {
        background-color: white;
        cursor: not-allowed;
      }
    }
    .inSelectedList,
    .inSelectedList:disabled {
      background-color: $in-selected-list-color;
    }
  }
}

.inSelectedList,
.inSelectedList:disabled {
  background-color: $in-selected-list-color;
}
